
body {
    font-family: cambria ;
    background-color: rgba(233, 243, 243, 0.959);
}

#imagem {
    padding-left: 9%;
    width: 120px;
    left: 100px;
}
.content-checkbox {
    width: 100%;
    padding-left: 9%;
    padding-top: 10px;
}
.content-checkbox-email {
    width: 100%;
    padding-left: 9%;
    padding-top: 10px;
}

.content-getway {
    padding-top: 10px;
    padding-left: 9%;
}

.content-email {
    padding-top: 5px;
    padding-left: 9%;
}
.content-input {
    padding: 1px;
    border: 1px solid #ccc;
}
.content-input-button {
    width: 100px;
    height: 30px;
    
    background-color:#3bb674f8;
    border-radius: 20px 12px;
}

#status {
    color: red;
}