body {
    font-family: cambria ;
    background-color: rgba(233, 243, 243, 0.959);
}

#imagem {
    padding-left: 9%;
    width: 120px;
    left: 100px;
}
.content-checkbox {
    width: 100%;
    padding-left: 9%;
    padding-top: 10px;
}
.content-checkbox-email {
    width: 100%;
    padding-left: 9%;
    padding-top: 10px;
    
}

.content-gateway {
    padding-top: 10px;
    padding-left: 9%;
}

.content-email {
    padding-top: 5px;
    padding-left: 9%;

}

.content-ip {
    flex: 1;
    flex-direction: column;
    padding-top: 7px;
    padding-left: 9.5%;
}

.content-input {
    padding: 1px;
    border: 1px solid #ccc;
}
.content-input-button {
    width: 100px;
    height: 30px;
    
    background-color:#3bb674f8;
    border-radius: 20px 15px;
    border: none;
    cursor: pointer;
}

.content-input-button:hover { 
    background-color:#269e5ef8;
    transition: 0.8;
}

#status {
    color: rgb(27, 9, 9);
}
.switch {
    position : relative;
    display: inline-block;
    width: 25px;
    height: 15px;
}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
    border-radius: 30%;
}

.slider:before {
    position: absolute;
    content: "";
    height: 10px;
    width: 10px;
    left: 4px;
    top: 2px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
    border-radius: 50%;
}

input:checked + .slider {
    background-color: #2cca17;
}

input:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
    -webkit-transform: translateX(10px);
    -ms-transform: translateX(10px);
    transform: translateX(10px);
  } 
  .switch {
    position : relative;
    display: inline-block;
    width: 25px;
    height: 15px;
}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
    border-radius: 30%;
}

.slider:before {
    position: absolute;
    content: "";
    height: 10px;
    width: 10px;
    left: 4px;
    top: 2px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
    border-radius: 50%;
}

input:checked + .slider {
    background-color: #2cca17;
}

input:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
    -webkit-transform: translateX(10px);
    -ms-transform: translateX(10px);
    transform: translateX(10px);
} 

.switchRede {
    position : relative;
    display: inline-block;
    width: 25px;
    height: 15px;
}

.switchRede input {
    opacity: 0;
    width: 0;
    height: 0;
}

.sliderRede {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
    border-radius: 30%;
}

.sliderRede:before {
    position: absolute;
    content: "";
    height: 10px;
    width: 10px;
    left: 4px;
    top: 2px;
    bottom: 4px;
    background-color: rgb(201, 15, 15);
    -webkit-transition: .4s;
    transition: .4s;
    border-radius: 50%;
}

input:checked + .sliderRede {
    background-color: #ccc;
}

input:focus + .sliderRede {
    box-shadow: 0 0 1px #bd0b0b;
}

input:checked + .sliderRede:before {
    -webkit-transform: translateX(10px);
    -ms-transform: translateX(10px);
    transform: translateX(10px);
    background-color: rgb(28, 170, 15);
  } 